.container {
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: auto;
}

.searchContainer {
    margin: 20px 0;
}

.inputField {
    padding: 10px;
    width: 70%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.searchBtn {
    padding: 10px;
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.tituloCentrado {
    display: flex;
    justify-content: center;
    align-items: center;
}

#weatherContainer {
    display: none;
    /* Hide until data is available to display */
}

#errorMessage {
    color: red;
    font-weight: bold;
}
